body {
    font-family: sans-serif;
    margin: 0;
    background: #f8f9fa;
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 1rem;
}

.loading {
    text-align: center;
    margin-top: 50px;
}